/* generics */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.box{
    width: 10%;
    height: 96px;
}
.fizzBuzz{
    background-color: turquoise;
}
.buzz{
    background-color: lightsalmon;
}
.fizz{
    background-color: lightslategray
}
.normalBg{
    background-color: lightgreen;
}
/* Extra small devices (portrait phones, less than 576px)*/
/* No media query for `xs` since this is the default in Bootstrap*/
@media (max-width: 576px) { 
    .box{
    width: 100%;
    height: 96px;
    }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    .box{
    width: 50%;
    height: 96px;
    }
}

/*Medium devices (tablets, 768px and up)*/ 
@media (min-width: 768px) {
    .box{
    width: 50%;
    height: 96px;
    }
}

/*Large devices (desktops, 992px and up)*/ 
@media (min-width: 992px) {
    .box{
        width: 20%;
        height: 96px;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .box{
    width: 10%;
    height: 96px;
    }
}